#ball {
  animation-name: squash;
  animation-duration: 2.9s;
  animation-iteration-count: infinite;
}

@keyframes squash {
  0% {
    transform: scaleX(0.8);
  }

  25% {
    transform: scaleY(0.8);
  }

  50% {
    transform: scaleX(0.8);
  }

  75% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleX(0.8);
  }
}
